{% extends "base.html" %}
{% load static %}

{% block title %}Users{% endblock %}

{% block css %}

{% endblock css %}

{% block next_page %}
<li class="breadcrumb-item text-muted active" aria-current="page"><a
    href="">Users</a> /
  {% endblock %}

  {% block head %}
  Users
  {% endblock %}

  {% block content %}

  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-lg-12 col-md-4 order-1">
        <div class="row">
          <div class="col-lg-2 col-md-12 col-6 mb-4">
            <a href="{% url 'users:users-list'%}">
              <div class="card">
                <div class="card-body">
                  <div class="card-title d-flex align-items-start justify-content-between">
                    <span class="fw-semibold d-block mb-1">Total Users</span>
                  </div>
                  <h3 class="card-title mb-2">{{total}}</h3>

                </div>
              </div>
            </a>
          </div>


          {% for role, count in role_counts.items %}
          {% if count > 0 %}
          
          <div class="col-lg-2 col-md-12 col-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="card-title">
                  <span>{{role}}</span>
                </div>
                <h3 class="card-title text-nowrap mb-1">{{count}}</h3>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
 
  {% endblock content %}

  {% block js %}
  <script>
    $('#user-menu').addClass('active open');
    $('#users-dashboard').addClass('active')
  </script>
  {% endblock js %}