{% extends "base.html" %}
{% load static %}

{% block title %}Users{% endblock %}

{% block css %}

{% endblock css %}

{% block next_page %}
<li class="breadcrumb-item text-muted active" aria-current="page"><a
    href="{% url 'customers:dashboard' %}">Users</a> / Edit
{% endblock %}

{% block head %}
Users
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-6 order-0 mb-2">
        <div class="card h-100">
            <div class="card-header">
              <h5>Edit customer</h5>
            </div>
            <div class="row">
              <div class="ms-4 mb-4 col-8">
            {% comment %} <form method="post" enctype="multipart/form-data" action="{% url 'users:reset_password' edit_user.id %}"> {% endcomment %}
            <form method="post" enctype="multipart/form-data" action="{% if edit_user.id %}{% url 'users:reset_password' edit_user.id %}{% endif %}">

        {% csrf_token %}
        <div class="row">
            <div class="col-1"></div>
            <div class="col-8">
                {% comment %} {{msg}}  <br> {% endcomment %}
        {{ form }}
        <button class="btn btn-success mt-5 " type="submit" style="float:right">Reset Password</button>
    </form>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- / Content -->
{% endblock content %}

{% block js %}
<script src="{% static 'js/jquery.form.js'%}"></script>
<script>
$('#user').addClass('active open');
$('#users-reset_password').addClass('active')
</script>
<script>

</script>
{% endblock js %}
